--- 
--- 
// @import 'settings';  
@import 'foundation';
@include foundation-everything;
@import 'pyr';
$duration: 30s;

$ticker-height: 3rem;

.top-bar {
  background: white;
  margin-top: 3rem;
}

.ctct-form-embed.form_0 .ctct-form-custom .ctct-form-button {
  background-color: #2199e8 !important;
  border-color: #2199e8 !important;
}

div.ctct-form-embed div.ctct-form-defaults h2.ctct-form-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 0 var(--flash--a);
  }

  100% {
    text-shadow: 0 0 50px var(--flash--a);
  }
}

.ticker-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  height: $ticker-height;
  background-color: #333;
  padding-left: 100%;
  box-sizing: content-box;
  // transition: transform .2s var(--u-easing); // animation: hue 60s infinite linear;
  z-index: 999;

  .ticker {
    display: inline-block;
    height: $ticker-height;
    line-height: var(--ticker-height);
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 1.75rem;
      color: white;
      font-weight: 500;
    }
  }

  &--hidden {
    transform: translateY(-100%);
  }
}

.banner-telehealth {
  width: 100%;
  text-align: center;
  margin-top: 2rem;

  svg {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}

main.treatment {
  .post .post-content h5 {
    margin-top: 0;
  }
}

footer address {
  font-style: normal;
  margin-bottom: 2rem;
}

.expertise img {
  width: 150px;
}

@media screen and (min-width:900px) {
  .expertise img {
    width: 200px;
  }
}