---
layout: default
title: Home
---
  <header class="blog-header">
      <!-- <h1 class="blog-title">{{ site.title }}</h1> -->
      {% include pyr-words.svg %}
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>
  <div class="sign-up-bar">
    <a href="http://eepurl.com/bXO-AD" class="sign-up clearfix">
      <span class="email-icon">
        {% include email.svg %}
      </span>
      <span class="sign-up-text">Stay informed! Join our mailing list.</span>
    </a>
  </div>

<main class="content" role="main">



  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
                 {% if post.subtitle %}
                  <section class="post-excerpt" itemprop="description">
          <a class="excerpt" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.subtitle | strip_html | truncatewords: 50 }}
            
          </a>
        </section>
        {% else %}
        <section class="post-excerpt" itemprop="description">
          <a class="excerpt" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.excerpt | strip_html | truncatewords: 50 }}
            
          </a>
        </section>        
        {% endif %}
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% endif %}
  </nav>

</main>

{% include footer.html %}
