---
layout: default
title: Personal Stories
description: "Watch recovering addicts discuss their path to recovery."
permalink: /stories/
---

  <header class="blog-header --page-header">
      <h1 class="blog-title">{{ page.title }}</h1>
      <h2 class="blog-description">{{ page.description }}</h2>
  </header>

<main class="content" role="main">


  <div class="cf frame">
   {% for post in site.data.stories %}
     <h2>{{ post.title }}</h2>
           <div class="videoWrapper">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/{{post.id}}" frameborder="0" allowfullscreen></iframe>
      </div>
     <!-- <amp-youtube data-videoid="{{post.id}}" layout="responsive" width="480" height="270"></amp-youtube> -->
    {% endfor %}
  </div>



</main>

{% include footer.html %}
