{% if page.title != "Home" %}
	<div class="sign-up-bar">
		<a href="http://eepurl.com/bXO-AD" class="sign-up clearfix">
			<span class="email-icon">
				{% include email.svg %}
			</span>
			<span class="sign-up-text">Stay informed! Join our mailing list.</span>
		</a>
	</div>
{% endif %}
<footer class="site-footer row clearfix">
	<div class="inner">
		<a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="button tiny"> <i class="fa fa-rss"></i> RSS Feed</span></a>
		<section class="copyright">All content &copy; {{ site.time | date: '%Y' }} <a href="mailto:{{ site.email}}">{{ site.name }}</a> <br>
	All rights reserved.</section>
	<section class="poweredby">Site built by <a href="http://nickniles.com"> Nick Niles</a> </section>
</div>
</footer>