


	<div class="contact-form-holder">
		<div class="ctct-inline-form" data-form-id="b8b090fc-9951-436d-817d-5f67e1ac20f6"></div>
	</div>

<footer class="site-footer row clearfix">
	<div class="inner">
		<a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="button tiny"> <i class="fa fa-rss"></i> RSS Feed</span></a>
		<section class="copyright">All content &copy; {{ site.time | date: '%Y' }} <a href="mailto:{{ site.email}}">{{ site.name }}</a> <br>
	All rights reserved.</section>
	<section class="poweredby">Site built by <a href="http://nickniles.com"> Nick Niles</a> </section>
</div>
</footer>


