<header class="site-header">
	<a href="{{ site.baseurl }}/" class="logo">
		<span class="logo">
			{% include pyr-wing.svg %}
			<!-- <amp-img src="{{ site.baseurl }}{{ site.logo }}" width="100" height="56" /> -->
			</span>
		</a>
		<a class="mobile-menu-link" href="#bottom-menu">Menu</a>




			<ul class="main-nav">
				{% for my_page in site.pages %}
					{% if my_page.title != "Home" %}
						<li>
							<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		<!-- </div> -->
	</header>