<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">
        <a href="{{ site.baseurl }}/" class="logo">
    <span class="logo">
      {% include pyr-wing.svg %}
      </span>
    </a>

      </li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu data-disable-hover="true" data-click-open="true">
      <li>
        <a href="#">Videos</a>
        <ul class="menu vertical">
          <li><a href="{{ site.baseurl }}/animations">Animations</a></li>
          <li><a href="{{ site.baseurl }}/stories">Personal Stories</a></li>
          <li><a href="{{ site.baseurl }}/media">In The Media</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/reflections">Reflections</a></li>
      <li><a href="{{ site.baseurl }}/questions-answers">Questions &amp; Answers</a></li>
      <li><a href="{{ site.baseurl }}/treatment">Treatment</a></li>
      <li>
        <a href="#">Continuing Education</a>
        <ul class="menu vertical">
          <li><a href="{{ site.baseurl }}/ce-about">About</a></li>
          <li><a href="{{ site.baseurl }}/ce-webinars">Webinars and Workshops</a></li>
          <li><a href="{{ site.baseurl }}/ce-self-study">Self-Study</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
  </div>
</div>
