$grey-color: #8E9698;
$dark-color: #3d474c;
$dark-color: #35464c;
$blue: #0098ff;
$global-lineheight:1.8;

.title-bar {
    background: $blue;
    margin-top: 3rem;
}

#video-teasers {
    padding-top: 24px;

    h5 {
        font-weight: 500;
        margin-bottom: 12px;
    }

    .teaser-vid-holder {
        padding: 6px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.icon {
    color: $grey-color;

    >svg {
        display: inline-block;
        width: 36px;
        height: 36px;
        vertical-align: middle;

        path {
            fill: currentColor;
        }
    }

    &:hover {
        color: $blue;
    }
}

.logo svg {
    fill: $blue;
    width: 36px;
    height: 36px;
}

.top-bar ul {
    background: none;
}

.top-bar ul li>a {
    color: $dark-color;
    font-weight: 700;

    &:hover {
        color: $blue;
    }
}

.top-bar-right {
    margin-top: 10px;
}

.sign-up-bar {
    width: 100%;
    height: 60px;
    text-align: center;

    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;

    a {
        display: inline-block;
        background: $blue;
        width: 100%;
        max-height: 60px;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        padding: 18px;

        &:hover {
            background: #018FEF;
        }
    }

    .close-button {
        color: white;

        &:hover {
            color: $dark-color;
        }
    }

    svg {
        fill: currentColor;
        width: 24px;
        height: 24px;
        vertical-align: top;
        margin-right: 8px;
    }
}

$rs: 16px;

$font-serif: Georgia,
Cambria,
"Times New Roman",
Times,
"Lora",
serif;
$font-sans: "Helvetica Neue",
system,
-apple-system,
".SFNSText-Regular",
"San Francisco",
"Roboto",
"Segoe UI",
"Helvetica Neue",
"Lucida Grande",
sans-serif;

// Only needed for syntax highlighting
%vertical-rhythm {
    margin-bottom: $rs;
}

main {
    display: block;
}

body {
    font-family: $font-sans;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    color: $dark-color;
}

section[expanded] span.expanded {
    display: block;
}

section[expanded] span.collapsed {
    display: none;
}

section:not([expanded]) span.expanded {
    display: none;
}

section:not([expanded]) span.collapsed {
    display: block;
}

.blog-header {
    width: 100%;
    padding: 24px;
    min-height: 41.6667vw;
    margin: 0 auto;
    position: relative;
    background-color: $blue;
    background: url(/assets/images/hero2.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    .blog-title {
        margin-bottom: 8px;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -1px;
        outline: 0;
        line-height: 50px;
        word-break: break-word;
        color: white;
        text-align: center;
        -webkit-font-feature-settings: normal;
    }

    .blog-description {
        font-size: 28px;
        margin: 0 0 20px;
        padding: 0;
        line-height: 1.2;
        color: white;
        font-weight: 300;
        text-align: center;
    }

    &.--page-header {
        min-height: 20vw;
        background-image: none;
        background: none;
        background-color: $blue;
    }

    svg {
        fill: none;
        stroke: white;
        stroke-width: 0.5px;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 80%;
        max-width: 960px;
    }
}

.content {
    width: 100%;
    max-width: 700px;
    margin: 24px auto 48px auto;
    min-height: 75vh;

    article {
        padding: 24px 12px;
        border-bottom: 1px solid #f2f2f0;

        &:last-child {
            border-bottom: 0px;
        }

        a:hover {
            color: $blue;
        }

        .post-title,
        .post-subtitle {
            letter-spacing: -0.02em;
            font-weight: 700;
            font-style: normal;
            display: block;
            font-size: 2.75rem;
            line-height: 1.15;
            margin: 0 0;
            color: $dark-color;
            margin-bottom: 12px;

            a {
                text-decoration: none;
                color: $dark-color;

                &:hover {
                    text-decoration: none;
                    color: $blue;
                }
            }
        }

        .post-subtitle {
            color: $grey-color;
            font-weight: 400;
        }

        .post-header {
            margin-bottom: 12px;
        }

        .post-excerpt a {
            letter-spacing: -0.02em;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            line-height: $global-lineheight;
            color: lighten(desaturate($dark-color, 50), 30);
            text-decoration: none;
        }

        a.more-link {
            color: $dark-color;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                color: $blue;
                text-decoration: underline;
            }
        }

        .post-meta {
            font-size: 14px;
            color: lighten($dark-color, 50%);
            line-height: 30px;

            a {
                color: #b3b3b1;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.post-template .content {
    max-width: 700px;
}

.index-headline {
    border-top: 1px solid $blue;
    margin: 0;
    padding: 16px 0;

    span {
        color: #b3b3b1;
        font-size: $rs / 8 * 5;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.pagination {
    text-align: center;
    padding: ($rs * 1) 0 0;
    font-size: $rs / 4 * 3;

    a {
        color: #999999;
        text-decoration: none;

        &:hover {
            color: #333333;
        }
    }
}

.site-footer {
    background: $dark-color;
    margin: 0 auto;
    padding: ($rs * 3) $rs;
    padding-bottom: 84px;

    // width: 100%;
    max-width: 100%;
    font-size: $rs / 4 * 3;
    text-align: center;
    color: #fff;
    line-height: $rs * 1.1;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

.post {
    .post-meta {
        font-family: $font-sans;
    }

    .post-title,
    .post-subtitle {
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.04em;
        font-size: 50px;
        line-height: 1.1;
        color: $dark-color;
        margin-bottom: 12px;
    }

    .post-subtitle {
        text-decoration: none;
        color: $grey-color;
    }

    .author-image {
        background-image: url(/assets/images/ned_presnall.jpg);
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 8px;
        margin-bottom: -10px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
    }

    .post-meta-text {
        color: #b3b3b1;
        letter-spacing: -0.02em;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        overflow: hidden;
        font-family: $font-sans;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    a {
        color: #333333;
        text-decoration: underline;
    }

    figure {
        margin: 0;
        padding: 0 0 30px;
    }

    figcaption {
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        line-height: 1.3;
        color: #666665;
        outline: 0;
        z-index: 300;
        text-align: center;
    }

    hr {
        border: 0;
        padding: 0;
        display: block;
        width: 15%;
        margin: 30px auto;
        border: 0px solid #dddddd;
        border-top: 1px solid $blue;
    }

    blockquote {
        margin: 0 0 30px;
        margin-left: -26px;
        padding-left: 20px;
        border: none;

        p {
            letter-spacing: 0.01rem;
            font-weight: 400;
            mborder-left: 3px solid $blue;
            mpadding-left: 20px;
            mmargin-left: -26px;
            padding-bottom: 3px;
        }
    }

    ul,
    ol {
        padding: 30px 0;
        margin: 0;
    }

    li {
        padding: 0;
        font-weight: 400;
        font-style: normal;
        font-size: 23px;
        line-height: 30px;
        margin-left: 30px;
        margin-bottom: 12px;
        padding-top: 2px;

        p {
            padding: 0 0 golden-ratio(1rem, 1);
        }
    }

    ol li {
        list-style-type: decimal;
    }

    .post-title {
        font-weight: 700;
        font-style: normal;
        letter-spacing: -0.04em;
        font-size: 50px;
        line-height: 1.1;
        color: $dark-color;
        margin-bottom: 50px;
    }

    .author-image {
        // background-image: url({{ site.baseurl }}/{{site.author_image}});
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 8px;
        margin-bottom: -10px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
    }

    .post-meta-text {
        color: #b3b3b1;
        letter-spacing: -0.02em;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        overflow: hidden;
        // font-family: $font-sans;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .post-content {
        width: 100%;
        // font-family: $font-serif;
        color: $dark-color;

        h1,
        h2,
        h3 {
            font-family: $font-sans;
        }

        h3,
        h4,
        h5,
        h6 {
            letter-spacing: -0.02em;
            font-weight: 700;
            font-style: normal;
            font-size: 24px;
            line-height: 1.3;
            margin-top: 50px;
            margin-bottom: 0px;
            font-family: $font-sans;
        }

        h3 {
            font-size: 36px;
        }

        h2,
        h1 {
            letter-spacing: -0.02em;
            font-weight: 700;
            font-style: normal;
            font-size: 42px;
            line-height: 1.2;
            margin-top: 50px;
            margin-bottom: 0px;
        }

        p {
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            line-height: $global-lineheight;
            letter-spacing: -.002em;
            margin-top: 30px;
            margin-bottom: 0;
            color: lighten($dark-color, 5%);
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;

            @include breakpoint(960px) {
                font-size: 18px;
                line-height: $global-lineheight;
            }
        }

        a {
            color: #333333;
            text-decoration: underline;
        }

        figure {
            margin: 0;
            padding: 0 0 30px;
        }

        figcaption {
            font-weight: 400;
            font-style: italic;
            font-size: 16px;
            line-height: 1.3;
            color: #666665;
            outline: 0;
            z-index: 300;
            text-align: center;
        }

        hr {
            border: 0;
            padding: 0;
            display: block;
            width: 15%;
            margin: 30px auto;
            border-top: 1px solid $dark-color;
        }

        blockquote {
            margin: 0 0 30px;
            margin-left: -26px;
            padding-left: 20px;

            p {
                letter-spacing: 0.01rem;
                font-weight: 400;
                border-left: 3px solid $blue;
                padding-left: 20px;
                mmargin-left: -26px;
                padding-bottom: 3px;
            }
        }

        ul,
        ol {
            padding: 0 0 30px;
            margin: 0;
        }

        li {
            padding: 0;
            font-weight: 400;
            font-style: normal;
            font-size: 23px;
            line-height: 30px;
            margin-left: 30px;
            margin-bottom: 12px;
            padding-top: 2px;

            p {
                padding: 0 0 golden-ratio(1rem, 1);
            }
        }

        ol li {
            list-style-type: decimal;
        }
    }

    .bottom-teaser {
        padding: 50px 0 0 0;
        font-family: $font-sans;
        margin-bottom: 72px;

        hr {
            border: 0;
            padding: 0;
            display: block;
            width: 15%;
            margin: 16px 0 16px 100px;
            border: 0px solid #dddddd;
            border-top: 1px solid $dark-color;
        }

        .isLeft {
            float: left;
            width: 100%;

            .bio {
                margin-top: 18px;
                margin-bottom: 18px;
                line-height: 1.5;
            }

            .username {
                margin-left: 4px;
                margin-right: 18px;
                margin-bottom: 18px;
            }

            .index-headline {
                padding-bottom: 32px;
            }

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    color: #333333;
                    text-decoration: underline;
                }
            }

            .author-image {
                display: block;
                width: 80px;
                height: 80px;
                float: left;
                background-size: cover;
                border-radius: 100%;
                text-indent: -9999px;
            }

            h4 {
                font-size: 18px;
                line-height: 1.1;
                font-weight: 700;
                padding: 0;
                margin: 0;
                padding-left: 100px;
            }

            p {
                font-size: 14px;
                line-height: 1.3;
                font-weight: 400;
                padding: 0;
                margin: 0;
                padding-left: 100px;

                &.published {
                    color: #999999;
                }
            }
        }

        .isRight {
            float: right;
            width: 47%;

            .index-headline {
                padding-bottom: 32px;
            }

            .site-footer {
                margin: 0;
                padding: 0;
                color: #333333;
                text-align: left;
                font-size: 14px;
                line-height: 1.3;
                color: #999999;

                a {
                    color: #333333;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .poweredby {
                    display: block;
                    padding-bottom: 18px;
                    font-weight: 700;
                    color: #333333;
                }
            }
        }
    }
}

.video-container {
    margin-bottom: 96px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba($dark-color, 0.2);

    .embed-instruct {
        background: #f4f4f4;
        padding: 12px;
    }

    p,
    h4 {
        color: rgba($dark-color, 0.6);
    }
}

.share {
    text-align: right;
    padding: 20px 0 0;

    a {
        text-decoration: none;
        color: #bbbbbb;
        padding-left: 12px;

        .hidden {
            display: none;
        }

        &:hover {
            color: #333333;
        }
    }
}

pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eeeeff;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.contact-form-holder {
    max-width: 700px;
    margin: 0 auto;
}