<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include ticker.html %}
    {% include topbar.html %}
 
    {{ content }}
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41517613-1', 'auto');
  ga('send', 'pageview');

</script>
    <script type="text/javascript" src="{{site.github.url}}/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="{{site.github.url}}/js/foundation.min.js"></script>
  <script type="text/javascript" src="{{site.github.url}}/js/app.js"></script>
<!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "7566fae534df087e0bccc3a7621da5b6"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
  </body>
</html>
