---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
      <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share">
      Share on
        <a id="twitter-share" class="icon" href="http://twitter.com/share?text={{page.title | cgi_escape}}&amp;url={{site.url}}{{page.id}}" target="_blank">
         
          {% include icon-twitter.svg %}
        </a>
            <a class="icon" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"> {% include icon-facebook.svg %}</a>

      </section>
    </footer>

    <div class="bottom-teaser clearfix">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Written by</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if site.github_username %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>

            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Published <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time></p>
        </section>
      </div>
      {{/post}}
    </div>
        <div id="disqus_thread"></div>

  </article>
{% include video-teasers.html %}
</main>
{% include footer.html %}
<script>


var disqus_config = function () {
this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.github.url | prepend: site.url }}"; 
this.page.identifier = "{{site.url}}{{page.id}}"; 
};

(function() { 
var d = document, s = d.createElement('script');

s.src = '//planyourrecovery.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
